/Ai$DiscountCalculator.class
/Ai.class
/DiscountCalculator.class
/Event.class
/MarkDetail.class
/NewPage.class
/Profit.class
/Student.class
/Tgle.class
/View.class
/eventhandling.class
/profitpackage$1.class
/profitpackage.class
/profitproject.class
/project2.class
/studentdetail.class
/toggel.class
